PyQt5==5.15.9
pyautogui
opencv-python
typing
matplotlib
pillow
numpy
setuptools
paddleocr==2.10.0
paddlepaddle==3.0.0
pygetwindow
mss
FuzzyWuzzy
tk
keyboard
SpeechRecognition
pyaudio
langchain
langchain_community
openai
