PyQt5==5.15.9
pyautogui
opencv-python==4.10.0.84
matplotlib
pillow
numpy<2
setuptools
paddlepaddle==2.6.0
paddleocr==2.7.0.3
pygetwindow
mss
thefuzz
keyboard
SpeechRecognition
pyaudio
langchain
langchain_community
openai
pywin32>=306
pynput