PyQt5==5.15.9
pyautogui
opencv-python==4.10.0.84
matplotlib
pillow
numpy<2
setuptools
ddddocr
onnxruntime==1.17.1
pygetwindow
mss
thefuzz
keyboard
SpeechRecognition
pyaudio
langchain
langchain_community
openai
pywin32>=306
pynput